---
layout: default
---

<div class="home">
  <!-- <h1>What's happening in the world</h1> -->

  {{ content }}

<!-- <h1>Who to donate to</h1> -->
<!-- <p>Updated weekly</p> -->
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.active %}
      <li>
        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->

        <h2>
          {{ post.title | escape }}
        </h2>

        {% for item in post.hero-photo %}
        <figure>
          <img src="assets/{{ item.photo-url }}" alt="{{ item.publisher }}">
          <figcaption>Photo from <a href="{{ item.link }}">{{ item.publisher }} article</a> below</figcaption>
        </figure>
        {% endfor %}

        <ul class="charities">
        {% for item in post.charities %}
          <li>
            <a href="{{ item.link }}">
            {{ item.name }}
            </a>
          </li>
        {% endfor %}
        </ul>

        <br>
        <h4>Related news</h4>
        <ul class="news">
        {% for item in post.related-articles %}
          <li>
            <a href="{{ item.link }}">
            {{ item.title }}<br><span>{{ item.publisher }}</span>
            </a>
          </li>
        {% endfor %}
        </ul>
        <br>

      </li>
      {% endif %}
    {% endfor %}
  </ul>


</div>
