---
layout: default
---

<div class="home">
  <!-- <h1>What's happening in the world</h1> -->

  {{ content }}

<!-- <h1>Who to donate to</h1> -->
<!-- <p>Updated weekly</p> -->
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.active %}
      <li>
        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->

        <h2>
          {{ post.title | escape }}
        </h2>

        <h4>Related news</h4>
        <ul>
        {% for item in post.related-articles %}
          <li>
            <a href="{{ item.link }}">
            {{ item.title }}<br><em>{{ item.publisher }}</em>
            </a>
          </li>
        {% endfor %}
        </ul>

        <h3>Related charities</h3>
        <ul>
        {% for item in post.charities %}
          <li>
            <a href="{{ item.link }}">
            {{ item.name }}
            </a>
          </li>
        {% endfor %}
        </ul>

      </li>
      {% endif %}
    {% endfor %}
  </ul>


</div>
